/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Solarized Dark scheme by Ethan Schoonover (modified by aramisgithub) */

window {
	background-color: #3c3836;
	color: #fbf1c7;
}

#entry:nth-child(odd) {
	background-color: #3c3836;
}

#entry:nth-child(even) {
	background-color: #504945;
}

#entry:selected {
	background-color: #665c54;
	color: #fbf1c7;
}

#input {
	background-color: #504945;
	color: #839496;
	border-color: #586e75; 
}

#input:focus {
	border-color: #b58900; 
}
